<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Resposta</title>
</head>
<body>
<h1>Resposta</h1>
<h2> <%=mensagem%></h2>
<h3>Login: <%=login%></h3>
<h3>senha: <%=senha%></h3>
</body>
</html>