<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Blog post</title>
    <link rel="stylesheet" type="text/css" href="formulario.css">
</head>
<body>
<form action="/criaPost" method="post">
    <br><br><br>
    <h1>Insira o novo post</h1>
    <br><br><br>
    <div id="titulo">Titulo: <input type="text" name="titulo"></div>
    <br><br>
    <div id="assunto">Resumo: <input type="text" name="resumo"></div>
    <br><br>
    <div id="texto"> Conteudo: <input type="text" name="conteudo"></div>
    <br><br>
    <input id="botao" type="submit" value="Criar post"/>
</form>

</body>
</html>