<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mensagem</title>
    <link rel="stylesheet" type="text/css" href="mensagem.css">
</head>
<body>
<br>
<h1>Post realizado</h1>
<br>
<div>Clique aqui para voltar para a página <a href="/">principal.</a></div>
</form>

</body>
</html>