<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cadastro</title>
</head>
<body>
    <h1>Cadastrar Usuario</h1>
    <img src="cadastro.jpeg" width="250">
    <form  action="/cadastrar_usuario" method="post" >
        Login: <input type="text" name="login">
        <br>
        Senha: <input type="password" name="senha">
        <br>
         <input type="submit" value="Cadastrar">

</form>
    <a href="/">Clique aqui para se logar</a>
</body>
</html>